.pictures-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 45px;
  }
  
  .picture {
    height: 150px;
    width: 100%;
    border-radius: 20%;
  }
  